<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        /* Define styles here for better readability and maintainability */
        .wrapperWebview,
        .wrapperBody {
            max-width: 800px; /* Adjust the maximum width as needed */
            margin: 0 auto; /* Center align the content */
        }

        .tableCard {
            background-color: #fff;
            border: 1px solid #e5e5e5;
        }

        .mainTitle {
            padding: 20px 0;
        }

        .subTitle {
            padding-bottom: 20px;
        }

        .ctaButton {
            background-color: rgb(0, 210, 244);
            padding: 12px 35px;
            border-radius: 50px;
        }
    </style>
</head>

<body style="background-color: #f9f9f9;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" id="bodyTable">
    <tbody>
    <tr>
        <td style="padding-right: 10px; padding-left: 10px;" align="center" valign="top" id="bodyCell">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wrapperWebview">
                <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding-top: 20px; padding-bottom: 20px; padding-right: 0px;" align="right" valign="middle" class="webview">
                                    <a href="#" style="color: #bbb; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: 20px; text-transform: none; text-align: right; text-decoration: underline; padding: 0; margin: 0" target="_blank" class="text hideOnMobile">Oh wait, there's more! →</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wrapperBody">
                <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableCard">
                            <tbody>
                            <tr>
                                <td style="background-color: #00d2f4; font-size: 1px; line-height: 3px" height="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <div th:utext="${orderTable}"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 20px;" align="center" valign="top" class="imgHero">
                                    <a href="#" style="text-decoration: none;" target="_blank">
                                        <img src="cid:${cid}" height="0" width="0" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 5px; padding-left: 20px; padding-right: 20px;" align="center" valign="top" class="mainTitle">
                                    <h2 class="text" style="color: #000; font-family: Poppins, Helvetica, Arial, sans-serif; font-size: 28px; font-weight: 500; font-style: normal; letter-spacing: normal; line-height: 36px; text-transform: none; text-align: center; padding: 0; margin: 0">
                                        Hi <span th:text="${name}"></span>
                                    </h2>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 30px; padding-left: 20px; padding-right: 20px;" align="center" valign="top" class="subTitle">
                                    <h4 class="text" style="color: #999; font-family: Poppins, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 500; font-style: normal; letter-spacing: normal; line-height: 24px; text-transform: none; text-align: center; padding: 0; margin: 0">
                                        <span th:utext="${content}"></span>
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 20px; padding-right: 20px;" align="center" valign="top" class="containtTable">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableDescription">
                                        <tbody>
                                        <tr>
                                            <!-- Populate with additional content if needed -->
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableButton">
                                        <tbody>
                                        <tr>
                                            <td style="padding-top: 20px; padding-bottom: 20px;" align="center" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td class="ctaButton">
                                                            <a href="https://www.youtube.com/watch?v=X1YcZ9rQpts&ab_channel=NgocManhPham" style="color: #fff; font-family: Poppins, Helvetica, Arial, sans-serif; font-size: 13px; font-weight: 600; font-style: normal; letter-spacing: 1px; line-height: 20px; text-transform: uppercase; text-decoration: none; display: block" target="_blank" class="text">
                                                                Confirm Email
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 1px; line-height: 1px;" height="20">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="space">
                            <tbody>
                            <tr>
                                <td style="font-size: 1px; line-height: 1px;" height="30">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>
